@model TravelTripProject.Models.Classes.Hotel
@{
    ViewBag.Title = "NewHotel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Otel Ekle</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Description)
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.AveragePrice)
    @Html.TextBoxFor(x => x.AveragePrice, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.PhotoUrl)
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Otel Ekle</button>
</form>

